.App {
min-height : 100vh;
display: flex;
flex-direction: column;
}

.top-bar {
  background-color: #001148;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-sizing: border-box;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color:red;
  margin:0; 
}

.role-select{
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #acc;
  font-size: 16px;
}

.content{
  flex:1;
  padding: 30px;
  box-sizing: border-box;
  font-size: 24px;
}

.form{
  display:flex;
  align-items: center;
  border: 1px solid #412626;
  border-radius : 25px;
  padding: 10px;
}

#search-input{
  width: 200px;
  border: groove;
  padding: 8px;
  font-size: 16px;
  outline: none;
  flex-grow: 1;
}

button[type=submit]{
  background-color: #001148;
  color:rgb(255, 255, 255);
  border:none;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 5px;
}

button[type = submit]{
  background-color: rgb(159, 31, 31) ;
}


.Top-Horziontal-Boxes{
  display:flex;
  gap:10px;
  margin-top:20px;
}


.Top-Box{
  width:200px;
  height:200px;
  background-color: light grey;
  border: 2px solid black;
  padding-left: 5px ;
  padding-top: 5px;
  margin: 10px;
}


.Scholarship-list{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: Center;
}

.Scholarship{
  width: 100%;
  height: 120px;
  background-color: lightgray;
  border: groove 2px;
  padding: 5px;
  text-align: left;
  left: 5px;
  top: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.status-badge{
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px, 10px;
  font-size: 12px;
  font-weight: Bold;
  border-radius: 6px;
  color: Black;
}
.status-badge.open{
  background-color: green;
}
.status-badge.closed{
  background-color: red;
}
.status-badge.soon{
  background-color: yellow;
}
/* need to make the button bigger and fuller*/
.scholar-ship-button{
  position: absolute;
  width: 50px;
  height: 30px;
  bottom:10px;
  right:10px;
  padding: 14px,26px;
  font-size: 18px;
  background-color: red;
  color: white;
  border:none;
  border-radius: 10px;
  cursor: pointer;
}
.scholar-ship-button:hover{
  background-color: rgb(0, 0, 0);
}

.money-info{
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 0px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.date-info{
  position: absolute;
  bottom: 10px;
  left: 350px;
  margin: 0px;
  padding-bottom: 5px;
  padding-left: 5px;

}



.footer{
  text-align: center;
  padding: 10px;
  background-color: #f2f2f2;
  font-size: 12px;
}